@page "/agent/create"
@using System.Net.Http.Json
@inject HttpClient _httpClient;
@inject NavigationManager uriHelper
<h3>ContractCreate</h3>
<AgentForm AgentDto=@_agentDto OnValidSubmit=@Create />
@code {
    AgentDTO _agentDto = new AgentDTO();

    public async Task Create()
    {
        await _httpClient.PostAsJsonAsync("https://localhost:8080/api/v1/agent",_agentDto);
        uriHelper.NavigateTo("agent");
    }
}