@page "/reason/edit/{reasonId:int}"
@using System.Net.Http.Json

@inject HttpClient _httpClient
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Update</h3>
<ReasonForm BranchDto="@reasonDto"
            OnValidSubmit="@EditReason" />

@code {
    [Parameter] public int ReasonId { get; set; }
    ReasonDto reasonDto = new ReasonDto();

    protected override async Task OnParametersSetAsync()
    {
        reasonDto = await _httpClient.GetFromJsonAsync<ReasonDto>($"https://localhost:8080/api/v1/reason/{ReasonId}");
    }

    public async Task EditReason()
    {
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to update №{reasonDto.Id} Record?"))
        {
            await _httpClient.PutAsJsonAsync($"https://localhost:8080/api/v1/reason/{ReasonId}", reasonDto);
            await js.InvokeVoidAsync("alert", $"Updated Successfully!");
            uriHelper.NavigateTo("reason");
        }
    }
}