@using Microsoft.AspNetCore.Components
@using Radzen
@using Radzen.Blazor
<div class="sidebar">
    <div class="logo_block">
        <div class="logo_text">Insurance Company</div>
    </div>

    <RadzenPanelMenu Style="width:400px">
        <RadzenPanelMenuItem Text="General" Icon="home">
            <RadzenPanelMenuItem Text="Buttons" Path="buttons" Icon="account_circle"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Contracts" Path="Contract" Icon="line_weight"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="FileInput" Path="fileinput" Icon="attach_file"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Dialog" Path="dialog" Icon="perm_media"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Notification" Path="notification" Icon="announcement"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Contracts" Icon="description">
            <RadzenPanelMenuItem Text="View all" Path="/Contract" Icon="grid_view"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Add" Path="/Contract/create" Icon="add"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Terminate" Path="/" Icon="indeterminate_check_box"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Update" Path="password" Icon="update"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Delete" Path="numeric" Icon="delete"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Agent" Icon="support_agent">
            <RadzenPanelMenuItem Text="View all" Path="/agent" Icon="grid_view"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Add" Path="/agent/create" Icon="add"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Branches" Icon="business">
            <RadzenPanelMenuItem Text="View all" Path="/branch" Icon="grid_view"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Add" Path="/" Icon="add"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Type of Insurance">
            <RadzenPanelMenuItem Text="View all" Path="/typeinsurance" Icon="grid_view"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Add" Path="/typeinsurance/create" Icon="add"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Reasons">
            <RadzenPanelMenuItem Text="View all" Path="/reason" Icon="grid_view"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Add" Path="/" Icon="add"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Tariffs">
            <RadzenPanelMenuItem Text="View all" Path="/tariff" Icon="grid_view"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Add" Path="/" Icon="add"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Risks">
            <RadzenPanelMenuItem Text="View all" Path="/risk" Icon="grid_view"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Add" Path="/" Icon="add"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Statuses">
            <RadzenPanelMenuItem Text="View all" Path="/status" Icon="grid_view"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Add" Path="/" Icon="add"></RadzenPanelMenuItem>
        </RadzenPanelMenuItem>
    </RadzenPanelMenu>
</div>

@code {

    void OnChange(TreeEventArgs args)
    {
    }

    void OnExpand(TreeExpandEventArgs args)
    {
    /*if (args.Value is Category category)
        {
            Log("Expand", $"Text: {category.CategoryName}");
        }

        if (args.Value is string text)
        {
            Log("Expand", $"Text: {text}");
        }*/
    }

}