@page "/Contract/create"
@using System.Net.Http.Json
@inject HttpClient _httpClient;
<h3>ContractCreate</h3>
<ContractForm ContractDto=@ContractDto OnValidSubmit=@Create />
@code {
    ContractDTO ContractDto = new ContractDTO();

    public async Task Create()
    {
        await _httpClient.PostAsJsonAsync("https://localhost:8080/api/v1/Contract",ContractDto);
    }
}