@page "/typeinsurance"
<h3>Type of insurance</h3>
<GenericTable TEntity=TypeInsuranceDTO 
              Url="https://localhost:8080/api/TypeInsurance"
              UrlDelete="https://localhost:8080/api/TypeInsurance"
              Page="typeinsurance"/> 