@inject HttpClient _httpClient;
<EditForm Model=@RiskDto Model2=@TariffDto OnValidSubmit=@OnValidSubmit>
    <div class="banner">
        <h1>Create new agent</h1>
    </div>
    <div class="item">
        <div class="name-item">
            <div>
                <div class="item">
                    <label for="nationality">Name of reason</label>
                    <InputNumber class="form-control" @bind-Value=@RiskDto.Sum />
                </div>
            </div>
        </div>
    </div>
    <div class="btn-block">
        <button type="submit" href="/risk">Submit</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public RiskDto RiskDto { get; set; }
    [Parameter]
    public TariffDTO TariffDto { get; set; }
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}