# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Test.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\ЧНУ\Course\Test\.idea\.idea.Test.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
